/* Index.css */
@import "tailwindcss";

@keyframes spin {
  to { transform: rotate(360deg); }
}
.loader {
  border: 3px solid transparent;
  border-top-color: #4f46e5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

